# =========================
# Backend
# =========================

backend/.venv/
backend/.env
backend/__pycache__/
backend/**/*.py[cod]

# =========================
# Frontend
# =========================

frontend/node_modules/
frontend/dist/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Logs
# =========================

*.log

# =========================
# Sistema Operativo
# =========================

Thumbs.db
.DS_Store